{% extends 'base/base.html' %}

{%block content%}
<form method="post">
	{% csrf_token %}
	<div class="row">
		<div class="form-group">
			<input placeholder="Nombre de Usuario" name="username" type="text" >
			<label for="username">Nombre de Usuario</label>
		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<input name="username" type="password" >
			<label for="username">Contraseña</label>
		</div>
	</div>

            <div class="col s6">
              <button type="submit" id="button" >Login</a>
            </div>



</form>
{%endblock%}