{% load staticfiles %}
<!DOCTYPE html>
<html lang='es'>
<head>
	{% block extrahead %}{%endblock%}
	<meta charset="utf-8">
	<title> {%block title%} Document {%endblock%} </title>
</head>
<body>
	{% block extrajs %}{%endblock%}
	{%block header%}<h4>ESTE ES EL BLOQUE DEL HEADER BASE</h4>{%endblock%}
	{%block content%}<h5>Este es el contenido del archivo base</h5>{%endblock%}
	{%block footer%}<h5>Soy el footer del base</h5>{%endblock%}
</body>
</html>